
<app-generic-list [elements]="inventories">
  <ng-container content>
    <div class="inventories-container">
      @for(inventory of inventories; track $index){
        <div class="inventory-container">
          <a [routerLink]="['/inventories', inventory.id]">
            @if(inventory.poster){
              <img [src] = "inventory.poster" width="170" height="200" />
            } @else {
              <img src="default.jpg" width="170" height="200"/>
            }            
          </a>
          <p>
            <a [routerLink]="['/inventories', inventory.id]">{{inventory.itemName}}</a>
          </p>

          <app-authorized role="admin">
              <ng-container authorized>
                <div>
                  <a mat-flat-button [routerLink]="['inventories/edit', inventory.id]">
                    Edit
                  </a>
                  <button mat-flat-button type="button" class="warn"
                      (confirm)="delete(inventory.id)"
                      [swal]="{title: 'Confirmation', text: 'Are you sure you want to delete this item?',
                        showCancelButton: true
                      }">
                      Delete
                  </button>
                </div>
              </ng-container>
          </app-authorized>

        </div>
      }
    </div>

  </ng-container>
</app-generic-list>
  
